h2{
    color:rgb(230, 79, 14);
    text-align: center;
    
}
*{
    margin: 0;
    padding: 0;
}

nav{
    display: block;
}

.nav{
    list-style-type: none;
    float: left;
}

.nav a{
    display: block;
    text-decoration: none;
    background-color: #b3002d;
    color:rgb(249, 211, 109, 0.887);
    padding: 1rem 3.345rem;
    text-align: center;
}

.nav a:hover{
    cursor: pointer;
    background-color: #9a0027;
}

body{
    background-color:rgba(235, 155, 8, 0.636);
}

h1{
    color: rgb(125, 0, 141);
    text-align: center;
    padding: 6vh 0vh 0vh 0vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and(width: 500px){

}

.Night{
   margin: 1vh 0vh 0vh 5vh  ;
   color: rgb(176, 98, 14)

}

.EventDays{
    margin: 1vh 0vh 0vh 1vh;
    color:rgb(158, 13, 13)
}